<li class="list-group-item">

  <div>
    <p style="width: 20%;"><%= link_to image_tag(staff.image_url(:thumb).to_s), staff %></p>
    <p style="width: 60%;"><%= staff.content %></p>
    <%= link_to fa_icon("times 2x", class: "red-color"), staff, 
        method: :delete, data: { confirm: 'Are you sure?' } %>
    <a href=<%= new_info_staff_by_staff_path(staff) %> >
      <i class="fa fa-pencil-square-o fa-2x black-color" ></i>
    </a>
  </div>
</li>