<% provide(:title, "List of Staffs") %>

<div class="row config-min-height bg-ctn">
	<div class="container margin-top-bottom-std">
<% @staffs.each_with_index do |staff, index| %>
  
    <div class="col-md-6 categories-a">
      <a href=<%= "list/#{staff.id}" %> >
		<h2 class="categories-title" > <%= staff.content %></h2>
        <%= image_tag staff.image_url.to_s, width: "100%", height:"300px" %>
      </a>
    </div>
 	<% end %>
	</div>
</div>