<div class="center jumbotron">
  <h1>Welcome to the Greek Restaurant</h1>
  <h2>
    This is the home page of our Restaurant
  </h2>

</div>

<%= link_to image_tag("11.jpg", alt: "Greek1"),
            'http://rubyonrails.org/' %>

