<% provide(:title, "Edit user") %>
<div class="config-min-height">
	<div class="container form-bg align-center" >
		<div class="form-wrapper">
			<h1>Editing User</h1>

			<%= render 'form', user: @user %>

			<div class="link-back-field" style="margin-bottom: 20px;">
				<%= link_to 'Show', @user %> |
				<%= link_to 'Back', users_path %>
			</div>
		</div>
	</div>
</div>


