<div class="row config-min-height">
	<div class="container margin-top-bottom-std">
		<h2 style="margin-bottom: 20px;">You have <%= @orders.length %> submitted order.</h2>
		<%= will_paginate @orders %>
		<section class="list-group-custom">
			<div class="title-bar no-image">
				<p style="width: 10%;">Table no</p>
				<p style="width: 28%;">Book time</p>
				<p>Amount of items</p>
				<p>Submitted</p>
				<p>Paid?</p>
			</div>
			<ul class="list-group">
				<%= render @orders%>
			</ul>
		</section>
		<%= will_paginate @orders %>
	</div>
</div>
