@import "bootstrap-sprockets";
@import "bootstrap";

.transparent-bg {
	background-color: transparent !important;
}

.config {
	margin-top: 70px;
	min-height: 1000px;
}

.drop-box {
	background: #1E1E1E !important;
    font-size: 18px;
    color: white !important;
}

.drop-box > li > a {
	color: #fff !important;
	font-size: 0.75000em;
    font-weight: 700;
}

.divider {
    width: 100%;
    border-top: 1px solid #fff;
}