<div class="row config-min-height">
  <div class="container margin-top-bottom-std">
    <h1 style="margin-bottom: 20px;">Categories</h1>
    <section class="list-group-custom">
      <div class="title-bar">
        <p class="hidden-cus" style="width: 20%;">HIDDEN</p>
        <p style="width: 60%">Content</p>
      </div>
      <ul class="list-group">
        <%= render @categories %>
      </ul>
    </section>
    <div class="link-back-field">
      <%= link_to "New Category", "/categories/new" %>
    </div>
  </div>
</div>








