<div class="row config-min-height">
	<div class="container form-bg align-center">
		<div class="form-wrapper">
			<h1>New Review</h1>

			<%= render 'form', review: @review %>

			<div class="link-back-field">
				<%= link_to 'Back', reviews_path %>
			</div>
		</div>
	</div>
	</div>
</div>

